<div class="main-container">
  <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Solutions</h1>
    <span>See All</span>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    class="flex-row"
  >
    <div
      (click)="navigate(data.cName)"
      class="tile"
      *ngFor="let data of solutions"
    >
      <img src="../assets/images/Image 3.png" alt="thumbnails" />
      <mat-divider></mat-divider>
      <div class="content" fxLayout="column" fxLayoutGap="2px">
        <span>{{ data.type }}</span>
        <span class="cName">{{ data.cName }}</span>
        <span class="text-overflow">{{ data.shortDesc }}</span>
        <span class="text-overflow1">{{ data.longDesc }}</span>
      </div>
    </div>
  </div>
</div>
