<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="search-wrapper"
>
  <span class="searchHeader">What are you looking for?</span>
  <mat-form-field appearance="outline">
    <input
      #textToSearch
      id="textToSearch"
      matInput
      placeholder="Type here to Search"
      (keyup)="keyup($event.target.value)"
      (click)="keyup($event.target.value)"
    />
    <input type="image" alt="Start" id="image" src="assets/mic.gif" (click)="voiceSearch()"> 
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

