<div fxLayout="column" class="details-container" fxLayoutGap.xs="10px">
    <div fxLayoutAlign="start center" class="componentName">
        <span class="detailsHeader">{{ detailobject?.cName }}&nbsp;</span>
        <span>| {{ detailobject?.type }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" class="description-container">
        <span class="descriptionHeader">description</span>
        <span class="descriptionContent">
      {{detailobject?.longDesc}}
      </span
    >
  </div>
  <div fxLayout="row" class="compDetails" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="space-between" class="code">
        <div class="codeHeader">Code</div>
        <div class="codeDetails">
          <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let detailData of detailobject?.files">
            <span>{{detailData.linkText}}</span>
        <span> <a href="{{detailData.downloadable}}">Download</a></span>
    </div>
</div>

</div>
<div class="images" fxLayout="column" fxLayoutAlign="space-around">
    <div class="imagesHeader">
        Images
    </div>
    <div class="imagesContent">
        <div class="previewDiv">
            <img class="previewImg" src="{{selectedImgPath}}" alt="thumbnails" />
        </div>
        <mat-divider></mat-divider>
        <div class="imagesList">
            <div [ngClass]="selectedImgIndex == i ? 'selectedDiv' : 'normalDiv'" *ngFor="let img of detailobject?.images; index as i" (click)="chooseImg(i)">
                <img class="smallImgs" src="{{img}}" alt="thumbnails" />
            </div>
        </div>

    </div>
</div>
</div>
</div>