<div fxLayout="column" class="details-container" fxLayoutGap.xs="10px">
    <div fxLayout="column" fxLayoutAlign="space-around" class="componentName">
        <span class="searchHeader">Charts |angular</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around" class="description-container">
        <span>description</span>
        <span>Charts based on D3 library. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
    </div>
    <div fxLayout="row" class="compDetails">
        <div fxLayout="column" class="code">
            <div fxLayout="row">
                <div>Code</div>
                <div>
                    <button mat-button>Download</button>
                </div>
            </div>
        </div>
        <div class="images">
            <img src="../assets/images/Image 3.png" alt="thumbnails" />
            <mat-divider></mat-divider>
        </div>
    </div>
</div>