<div class="nav-icon blue-bg">
  <img src=".\assets\logos\LTI_logo.svg" alt="Lti-logo" />
</div>
<div class="nav-icon no-logo" routerLink="/components">
  <img
    src=".\assets\logos\Deselected-Components.svg"
    width="21"
    alt="Components"
  />
</div>
<div class="nav-icon no-logo" routerLink="/solutions">
  <img
    src=".\assets\logos\Deselected-Solutions.svg"
    width="28"
    alt="Solutions"
  />
</div>
<div class="nav-icon no-logo" routerLink="/bestpractice">
  <img
    src=".\assets\logos\Deselected-BestPractices.svg"
    width="30"
    alt="BestPractices"
  />
</div>
<router-outlet></router-outlet>
