.tile {
  top: 260px;
  left: 102px;
  width: 296px;
  height: 346px;
  cursor: pointer;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1c5dd8;
  border-radius: 8px;
  opacity: 1;
  img {
    top: 268px;
    left: 105px;
    width: 290px;
    height: 218px;
    border-radius: 8px;
    /* UI Properties */
    opacity: 1;
  }
  .name {
    top: 527px;
    left: 118px;
    width: 159px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: Bold 18px/25px Avenir Next;
    letter-spacing: 0px;
    color: #2b2d71;
    opacity: 1;
  }

  .content {
    padding: 10px;
  }

  .cName {
    font-size: 18px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
  }
  .mat-divider {
    color: blue;
    border-top-width: 2px;
  }
}
.sub-head {
  margin-bottom: 10px;
  h1 {
    font-size: 21px;
    font-weight: bold;
  }
}
.flex-row {
  flex-wrap: wrap;
  .tile {
    margin-bottom: 10px;
  }
}
.custom-tooltip {
  font-size: 15px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px 11px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
