<div
  *ngIf="type !== 'all'"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="search-wrapper"
>
  <span class="searchHeader">What are you looking for?</span>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Type here to search {{ title }}"
      [(ngModel)]="comp"
      #ctrl="ngModel"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div
  class="sub-head"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout.xs="row"
  fxLayoutAlign.xs="space-between center"
>
  <!-- <h1>Components</h1> -->
  <h1 class="text-capitalize">{{ title==="bestPractices"? 'Best Practices And Guidelines': title }} </h1>
  <a *ngIf="type == 'all'" (click)="getLink(title)">See All</a>
</div>
<div *ngIf="components | filter: comp as result">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="15px"
    class="flex-row"
  >
    <!-- {{ components.length }} -->

    <div
      (click)="navigate(title, data.id)"
      *ngFor="let data of result; index as i"
    >
      <div class="tile" *ngIf="(type == 'all' && i < 8) || type != 'all'">
        <img
          src="{{ data.thumbnails }}"
          alt="{{ data.thumbnails }}"
          *ngIf="data.thumbnails !== ''"
        />
        <img src="{{ imageUrl }}" alt="" *ngIf="data.thumbnails === ''" />
        <mat-divider></mat-divider>
        <div class="content" fxLayout="column" fxLayoutGap="2px">
          <span class="text-capitalize">{{ data.type }}</span>
          <span class="cName text-overflow">{{ data.cName }}</span>
          <div class="text-overflow title-tooltip-wrapper">
            {{
              data.shortDesc.length > 74
                ? data.shortDesc.slice(0, 75) + "..."
                : data.shortDesc
            }}
            <div class="title-tooltip">
              {{ data.longDesc }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!result.length">
      No Match Found
    </div>
  </div>

  <div
    *ngIf="components.length === 0"
    class="load-spinner"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <img
      src="../assets/images/Ring-Preloader.gif"
      width="400"
      alt="loading..."
    />
  </div>
</div>
