.login-main {
  min-width: 100%;
  min-height: 100%;
  background: url(/assets/images/Login_Background.png) no-repeat center;
  // background-size: 100% 100%;
  // background-position: top center;
  .logo-title {
    color: #ffffff !important;
    padding: 30px 30px 10px 5%;
    img 
    {
      margin-right: 15px;
      vertical-align: baseline;
    }
    p {
      color: #ffffff !important;
    }
  }
  .left-container {
    margin-top: 100px;
    color: #ffffff !important;
    width: 50%;
    padding: 0 0 0 8%;
    h2,
    p {
      color: #ffffff !important;
      strong {
        color: #ffffff !important;
      }
    }
  }
  .card-layout {
    margin-top: 0px;
    padding: 30px;
  }
  .login-head {
    margin: 20px 0 30px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .welcome-text
  {
    font-size: 37px;
    font-family: "Goutham Ultraitalic";
  }
  .signup-container {
    margin: 30px 0 50px 0;
  }
  .login-button {
    margin-top: 35px;
  }
  .footer-container {
    margin-top: 40px;
    color: #ffffff !important;
    padding-left: 70px;
    p {
      color: #ffffff !important;
    }
  }
  .footer {
    border-bottom: 1px solid #ffffff;
    p {
      padding: 0;
      margin: 0;
      color: #ffffff !important;
    }
  }
  .footer-copyright {
    padding: 0;
    margin-top: 10px;
  }
  .login-spin {
    position: relative;
    .spin-adjust {
      font-size: 2em;
      position: absolute;
      top: 9%;
      left: 34%;
    }
  }
  .error-server {
    color: #dc3545;
    margin-top: 10px;
  }
}
.topheader {
  font-family: "Goutham Ultraitalic";
  margin-bottom: 0px;
  font-size: 25px;
  display: inline-block;
  color:#fff;
  line-height: auto;
  text-transform: uppercase;
}