.login-main {
  min-width: 100%;
  min-height: 100%;
  background: url(/assets/images/Login_Background.png) no-repeat center;
  .logo-title {
    color: #ffffff !important;
    padding: 30px 30px 10px 5%;
    img {
      margin-right: 15px;
      vertical-align: baseline;
    }
    p {
      color: #ffffff !important;
    }
  }
  .left-container {
    margin-top: 100px;
    color: #ffffff !important;
    width: 90%;
    padding-left: 60px;
    h2,
    p {
      color: #ffffff !important;
      strong {
        color: #ffffff !important;
      }
      b {
        font-weight: 600;
        color: #ffffff !important;
      }
    }
  }
  .card-layout {
    margin-top: 0px;
    padding: 14px 30px;
  }
  .login-head {
    margin: 44px 0 8px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .welcome-text {
    font-size: 37px;
    font-family: "Goutham Ultraitalic";
  }
  .signup-container {
    margin: 25px 0 33px 0;
  }
  .login-button {
    margin-top: 30px;
  }
  .footer-container {
    margin-top: 40px;
    color: #ffffff !important;
    padding-left: 65px;
    p {
      color: #ffffff !important;
    }
  }
  .footer {
    border-bottom: 1px solid #ffffff;
    p {
      padding: 0;
      margin: 0;
      color: #ffffff !important;
    }
  }
  .footer-copyright {
    padding: 0;
    margin-top: 10px;
  }
  .login-spin {
    position: relative;
    .spin-adjust {
      font-size: 2em;
      position: absolute;
      top: 9%;
      left: 34%;
    }
  }
  .error-server {
    color: #dc3545;
    margin-top: 10px;
  }
}
.topheader {
  font-family: "Goutham Ultraitalic";
  margin-bottom: 0px;
  font-size: 25px;
  display: inline-block;
  color: #fff;
  line-height: auto;
  text-transform: uppercase;
}
.login-form {
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    padding: 1.6rem 1rem;
    font-size: 20px;
  }
  .btn-login {
    height: 40px;
    margin-top: 35px;
    text-transform: uppercase;
  }
}
.pd-x-21 {
  padding: 0px 21px;
}
