<div class="login-main">
  <div class="container-fluid">
    <div class="header">
      <div class="col-12 logo-title">
        <img src=".\assets\logos\LTI_logo.svg" alt="Lti-logo" />
        <h1 class="topheader">FastLane</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-none d-md-block d-lg-block">
        <div class="left-container">
          <h2 class="welcome-text">
            Welcome
          </h2>
          <p>
            <b>Fastlane</b> is our <b>Portal</b> which helps developers, project
            managers to utilize reusable components, check best practices and
            solutions. This portal allow customers to go through the LTI’s
            Strength & Capabilities. It helps to validate business requirements
            and significantly increase development pace.
          </p>
          <!-- <div class="alert alert-info">
            <strong>Normal User</strong> - U: user P: user<br />
            <strong>Administrator</strong> - U: admin P: admin
          </div> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 pd-x-21">
        <div class="card card-layout">
          <h3 class="login-head text-center">Login</h3>
          <div class="card-body">
            <form
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              class="login-form"
            >
              <div class="form-group">
                <input
                  type="text"
                  formControlName="email"
                  placeholder="Email Address*"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div
                  *ngIf="submitted && f.email.errors"
                  class="invalid-feedback"
                >
                  <div class="error" *ngIf="f.email.errors.required">
                    Username is required
                  </div>
                  <div class="error" *ngIf="f.email.errors.pattern">
                    Please enter valid email
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  formControlName="password"
                  placeholder="Password*"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div class="error" *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
              <button
                [disabled]="loading"
                class="btn btn-primary btn-block btn-login"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Login
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                {{ error }}
              </div>
            </form>
            <div class="text-center signup-container">
              <span><a href="">Sign Up</a></span> |
              <span><a href="">Forgot Password</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card card-layout">
          <h3 class="login-head text-center">Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                formControlName="email"
                type="text"
                placeholder="Email Address*"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                formControlName="password"
                type="password"
                placeholder="Password*"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
              <div *ngIf="errorMessage" class="error-server">
                {{ errorMessage }}
              </div>
            </div>
            <div class="login-spin">
              <i
                class="fa fa-spinner fa-spin spin-adjust"
                *ngIf="loderStatus"
              ></i>
              <input
                class="btn btn-primary btn-block login-button"
                type="submit"
                value="Login"
                [disabled]="!loginForm.valid"
              />
            </div>
          </form>
          <div class="text-center signup-container">
            <span><a href="">Sign Up</a></span> |
            <span><a href="">Forgot Password</a></span>
          </div>
        </div>
      </div>
    </div> -->
    </div>
    <div class="footer-container">
      <div class="col-11">
        <div class="row footer pb-1">
          <p>Components &nbsp;| &nbsp;Chats &nbsp;| &nbsp;Code</p>
        </div>
      </div>
      <div class="col-11">
        <div class="row footer-copyright">
          <p>Copyright 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
