<div class="main-container">
  <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 routerLink="/components">Components</h1>
    <span>See All</span>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    class="flex-row"
  >
    <div
      (click)="navigate(data.id)"
      class="tile"
      *ngFor="let data of components"
    >
      <img
        src="{{ data.thumbnails }}"
        alt="{{ data.thumbnails }}"
        *ngIf="data.thumbnails !== ''"
      />
      <img
        src="assets/Data/ReusableComponents/UI_Components.png"
        alt=""
        *ngIf="data.thumbnails === ''"
      />
      <mat-divider></mat-divider>
      <div class="content" fxLayout="column" fxLayoutGap="2px">
        <span>{{ data.type }}</span>
        <span class="cName text-overflow">{{ data.cName }}</span>
        <span class="text-overflow">{{ data.shortDesc }}</span>
        <span class="text-overflow1">{{ data.longDesc }}</span>
      </div>
    </div>
  </div>
</div>
