<div class="main-container1">
  <div
    *ngIf="loading"
    class="load-spinner"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <img
      src="../assets/images/Ring-Preloader.gif"
      width="400"
      alt="loading..."
    />
  </div>
  <app-search-component
    [title]="list[0]"
    (search)="searchComponent($event)"
  ></app-search-component>
  <div *ngIf="!loading">
    <tile
      *ngIf="currentData"
      [title]="list[0]"
      [searchValue]="searchValue"
      [compData]="currentData"
      [imageUrl]="compimages"
    ></tile>
  </div>
</div>
