.custom-sidebar {
  width: 70px;
  text-align: center;
}
.custom-container {
  height: 100%;
}
.custom-wrapper
{
  padding-left: 32px;
}
.navbar {
  width: 100%;
  height: 70px;
  background: #fafcff;
  position: fixed;
  top: 0;
}
