.custom-sidebar {
    width: 70px;
    text-align: center;
}

.custom-container {
    height: 100%;
}

.top-navbar {
    width: calc(100% - 87px);
    height: 70px;
    background: #fafcff;
    position: fixed;
    top: 0;
}