<div fxLayout="row" fxLayoutAlign="space-between center" class="header-container" fxFlex>
    <div>
        <h1 class="topheader">FastLane</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>Richard Bension</span>
        <!-- <img
      src="../assets/images/userAvathar.png"
      alt="userAvathar"
      width="50px"
      mat-button
      [matMenuTriggerFor]="menu"
    /> -->
        <mat-menu #menu="matMenu" class="menu-Holder">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</div>