<div fxLayout="column">
  <h1 class="admin-heading">Add Components Form</h1>
  <div class="container" novalidate>
    <h3 *ngIf="post && errorMessages" class="success-messages">Data added succesfully</h3>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit($event, formGroup.value)"
      autocomplete="off"
      class="form"
    >
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label>Select an Category</label>
          <mat-form-field
            class="form-element custom-form-input"
            appearance="outline"
          >
            <mat-select [(value)]="selected" formControlName="category">
              <mat-option>None</mat-option>
              <mat-option value="Components">Components</mat-option>
              <mat-option value="Solutions">Solutions</mat-option>
              <mat-option value="Best Practice">Best practice</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <label>You selected: {{ selected }}</label>
          <mat-form-field
            class="form-element custom-form-input"
            appearance="outline"
          >
            <input
              matInput
              placeholder="{{ selected }} Name"
              formControlName="cName"
            />
            <mat-error *ngIf="!cName.valid && cName.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <label>Short Description</label>
          <mat-form-field
            class="form-element description-Input"
            appearance="outline"
          >
            <textarea
              matInput
              #Short_Description
              placeholder=" Type Here"
              matTextareaAutosize
              matAutosizeMinRows="2"
              matAutosizeMaxRows="5"
              formControlName="shortDesc"
            ></textarea>
            <p class="position-hint">
              {{ Short_Description.value.length }} / 78
            </p>
            <!-- <mat-hint align="end"
              >{{ Short_Description.value.length }} / 78</mat-hint
            > -->
            <mat-error
              *ngIf="
                !formGroup.controls['shortDesc'].valid &&
                formGroup.controls['shortDesc'].touched
              "
            >
              Required field, must be between 5 and 78 characters.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <label>Long Description</label>
          <mat-form-field
            class="form-element description-Input"
            appearance="outline"
          >
            <textarea
              matInput
              #Long_Description
              placeholder=" Type Here"
              matTextareaAutosize
              matAutosizeMinRows="2"
              matAutosizeMaxRows="5"
              formControlName="longDesc"
            ></textarea>
            <p class="position-hint">
              {{ Long_Description.value.length }} / 500
            </p>
            <!-- <mat-hint class="position-hint" align="end"
              >{{ Long_Description.value.length }} / 500</mat-hint
            > -->
            <mat-error
              *ngIf="
                !formGroup.controls['longDesc'].valid &&
                formGroup.controls['longDesc'].touched
              "
            >
              Required field, must be between 5 and 500 characters.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <label>Technology</label>
          <mat-form-field
            class="form-element custom-form-input"
            appearance="outline"
          >
            <input
              matInput
              placeholder="hint: Angular/.Net/Android/SharePoint/Ionic/etc.."
              formControlName="type"
            />

            <mat-error *ngIf="!type.valid && type.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="fs-18">Add Images</label>
          <div
            class="uploadfilecontainer"
            (click)="fileInput.click()"
            appDragDrop
            (onFileDropped)="uploadFile($event)"
          >
            <input
              hidden
              type="file"
              multiple
              accept="image/*"
              #fileInput
              (change)="uploadFile($event.target.files)"
            />
            <!-- <input type="file" ng2FileSelect accept="image/*"
             [uploader]="uploader" multiple /> -->

            <!--  
             <table class="table">
              <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td nowrap>
                      <button type="button" class="btn btn-success btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-warning btn-xs"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>


          <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>

            -->
          </div>
          <div class="files-list" *ngFor="let file of urls; let i = index">
            <span>{{ file.name }}</span>
            <button class="delete-file" (click)="deleteImages(i)">
              <mat-icon>delete</mat-icon>
              <!-- <img src="../../../assets/images/Recycle_Bin_Full.png" /> -->
            </button>
          </div>
        </div>
      </div>
      <label class="fs-18">Add Files</label>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label>Title</label>
          <mat-form-field
            class="form-element custom-form-input"
            appearance="outline"
          >
            <input
              matInput
              #documentTitleInput
              placeholder="hint: Usage Document/Source code"
              (keyup)="EnableUploadFiles($event)"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
          <label>Contributors</label>

          <mat-form-field
            class="form-element custom-form-input nopdb"
            appearance="outline"
          >
            <input
              matInput
              #ContributorTitleInput
              placeholder="Enter Contibutors Name"
              (change)="InputContributors($event)"
              formControlName="contributors"
            />
            <mat-icon
              (click)="updateContributor($event, ContributorTitleInput)"
              matSuffix
              >done</mat-icon
            >
            <mat-error
              *ngIf="
                !formGroup.controls['contributors'].valid &&
                formGroup.controls['contributors'].touched
              "
            >
              Required field, Give Contributors Name.
            </mat-error>
          </mat-form-field>

          <div
            class="files-list"
            *ngFor="let file of contributorsInput; let i = index"
          >
            <span>{{ file }}</span>
            <button class="delete-file">
              <mat-icon (click)="deleteContributors(i)">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-12 col-xs-12"
          [ngClass]="enableDocument ? '' : 'disabledDocument'"
        >
          <label>Add Documents</label>
          <div class="disable-Wrapper">
            <div class="diasbledDiv"><p>Title should be there</p></div>
            <div
              class="uploadfilecontainer"
              (click)="documentInput.click()"
              appDragDrop
              (onFileDropped)="uploadDocumentFiles($event, documentTitleInput)"
            >
              <input
                hidden
                type="file"
                #documentInput
                (change)="
                  uploadDocumentFiles($event.target.files, documentTitleInput)
                "
              />
            </div>
          </div>
          <div class="files-list" *ngFor="let file of documents; let i = index">
            <span>{{ file.linkText }}</span>
            <span>{{ file.downloadable.name }}</span>
            <!-- <button class="delete-file" > -->
            <mat-icon (click)="deleteDocuments(i)">delete</mat-icon>
            <!-- </button> -->
          </div>
        </div>
      </div>

      <div class="form-element" fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-raised-button
          type="submit"
          class="button custom-button"
          [disabled]="!formGroup.valid"
          [ngClass]="!formGroup.valid ? 'disabled' : 'active'"
        > <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
          <span *ngIf="loading">Uploading</span>
          <span *ngIf="!loading">Submit</span>
        </button>
      </div>
    </form>
  </div>

  <!-- <ng-template #forminfo>
    <div class="container">
      {{ post }}
    </div>
  </ng-template> -->
</div>
