.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  align-items: center;
  padding: 10px;
}

.form {
  width: 100%;
}

.form-element {
  padding: 5px 0px 15px 2px;
  width: 95%;
}

.button {
  width: 100%;
}
.pd-l {
  padding-left: 6px;
}
.width {
  width: 100%;
}
.end {
  justify-content: flex-end;
  display: flex;
}
.w-90 {
  width: 90%;
}
mat-icon {
  cursor: pointer;
}
