.search {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.search input {
  top: 145px;
  left: 414px;
  width: 608px;
  height: 44px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1c5dd8;
  border-radius: 4px;
  opacity: 1;
}
.tile {
  top: 260px;
  left: 102px;
  width: 296px;
  height: 346px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1c5dd8;
  border-radius: 8px;
  opacity: 1;
}
img {
  top: 268px;
  left: 105px;
  width: 290px;
  height: 218px;
  /* UI Properties */
  opacity: 1;
}
.mat-divider {
  color: blue;
  border-top-width: 2px;
}
.type {
  /* Layout Properties */
  top: 505px;
  left: 118px;
  width: 112px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: Regular 16px/22px Avenir Next;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}
.name {
  top: 527px;
  left: 118px;
  width: 159px;
  height: 25px;
  /* UI Properties */
  text-align: left;
  font: Bold 18px/25px Avenir Next;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}
.content {
  padding: 10px;
}
.cName {
  font-size: 18px;
  font-weight: bold;
}
h1 {
  font-size: 21px;
  font-weight: bold;
}
.searchHeader {
  font-size: 24px;
  font-weight: bold;
  padding-top: 50px;
}
