<div class="nav-icon blue-bg" routerLink="/dashboard">
  <img src=".\assets\logos\LTI_logo.svg" alt="Lti-logo" />
</div>
<div
  class="nav-icon dashboard-icon no-logo"
  [ngClass]="activeComponent ? 'active-link' : ''"
  routerLink="/components"
  routerLinkActive="active-link"
>
  <img
    *ngIf="!activeComponent"
    matTooltip="Reusable Components"
    matTooltipPosition="below"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    src=".\assets\logos\Deselected-Components.svg"
    width="21"
    alt="Components"
  />
  <img
    *ngIf="activeComponent"
    matTooltip="Reusable Components"
    matTooltipClass="custom-tooltip"
    matTooltipPosition="below"
    matTooltipHideDelay="100"
    src=".\assets\logos\Selected-Components.svg"
    alt="selected"
    width="30"
  />
</div>
<div
  class="nav-icon no-logo"
  routerLink="/solutions"
  routerLinkActive="active-link"
  [ngClass]="activeSolution ? 'active-link' : ''"
>
  <img
    *ngIf="!activeSolution"
    matTooltip="Solutions"
    matTooltipPosition="below"
    matTooltipHideDelay="100"
    matTooltipClass="custom-tooltip"
    src=".\assets\logos\Deselected-Solutions.svg"
    width="28"
    alt="Solutions"
  />
  <img
    *ngIf="activeSolution"
    matTooltip="Solutions"
    matTooltipPosition="below"
    matTooltipHideDelay="100"
    matTooltipClass="custom-tooltip"
    src=".\assets\logos\Selected-Solutions.svg"
    alt="selected"
    width="28"
  />
</div>
<div
  class="nav-icon no-logo"
  routerLink="/bestPractices"
  routerLinkActive="active-link"
  [ngClass]="activeBestPractice ? 'active-link' : ''"
>
  <img
    *ngIf="!activeBestPractice"
    matTooltip="Best practices and Guidelines"
    matTooltipPosition="below"
    matTooltipHideDelay="100"
    src=".\assets\logos\Deselected-BestPractices.svg"
    matTooltipClass="custom-tooltip"
    width="30"
    alt="BestPractices"
  />
  <img
    *ngIf="activeBestPractice"
    matTooltip="Best practices and Guidelines"
    matTooltipPosition="below"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    src=".\assets\logos\Selected-BestPractices.svg"
    alt="selected"
    width="30"
  />
</div>
