<div fxLayout="column" class="main-container">
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    class="search-wrapper"
  >
    <span class="searchHeader">What are you looking for?</span>
    <input type="text" />
  </div>
  <!-- <div fxLayout="column" fxLayoutAlign="space-around center">
    <span class="searchHeader">What are you looking for?</span>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div> -->
  <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Components</h1>
    <span routerLink="/components">See All</span>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    class="flex-row"
  >
    <div
      (click)="navigate(data.id)"
      class="tile"
      *ngFor="let data of components"
    >
      <img src="../assets/images/Image 3.png" alt="thumbnails" />
      <mat-divider></mat-divider>
      <div class="content" fxLayout="column" fxLayoutGap="2px">
        <span>{{ data.type }}</span>
        <span class="cName text-overflow">{{ data.cName }}</span>
        <span class="text-overflow">{{ data.shortDesc }}</span>
        <span class="text-overflow1">{{ data.longDesc }}</span>
      </div>
    </div>
  </div>
  <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Solutions</h1>
    <span routerLink="/solutions">See All</span>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    class="flex-row"
  >
    <div
      (click)="navigate(data.id)"
      class="tile"
      *ngFor="let data of solutions"
    >
      <img src="../assets/images/Image 3.png" alt="thumbnails" />
      <mat-divider></mat-divider>
      <div class="content" fxLayout="column" fxLayoutGap="2px">
        <span>{{ data.type }}</span>
        <span class="cName text-overflow">{{ data.cName }}</span>
        <span class="text-overflow">{{ data.shortDesc }}</span>
        <span class="text-overflow1">{{ data.longDesc }}</span>
      </div>
    </div>
  </div>
  <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Best Practice & Guildlines</h1>
    <span routerLink="/bestpractice">See All</span>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="10px"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    class="flex-row"
  >
    <div
      (click)="navigate(data.id)"
      class="tile"
      *ngFor="let data of bestPratices"
    >
      <img src="../assets/images/Image 3.png" alt="thumbnails" />
      <mat-divider></mat-divider>
      <div class="content" fxLayout="column" fxLayoutGap="2px">
        <span>{{ data.type }}</span>
        <span class="cName text-overflow">{{ data.cName }}</span>
        <span class="text-overflow">{{ data.shortDesc }}</span>
        <span class="text-overflow1">{{ data.longDesc }}</span>
      </div>
    </div>
  </div>
</div>

<!-- <a
  target="_self"
  href="../../assets/sample-pdf-download-10-mb.pdf"
  download="File.pdf">download</a> -->
