<div class="main-container1">
  <div
    *ngIf="loading"
    class="load-spinner"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <img
      src="../assets/images/Ring-Preloader.gif"
      width="400"
      alt="loading..."
    />
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    class="search-wrapper"
  >
    <span class="searchHeader">What are you looking for?</span>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder=" Type here to Search"
        [(ngModel)]="searchValue"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="!loading">
    <tile
      *ngIf="components && ifComponents === true"
      [title]="list[0]"
      [type]="'all'"
      [compData]="components"
      [searchValue]="searchValue"
    ></tile>
    <tile
      *ngIf="solutions && ifSolutions === true"
      [title]="list[1]"
      [type]="'all'"
      [compData]="solutions"
      [searchValue]="searchValue"
    ></tile>
    <tile
      *ngIf="bestPractices && ifBestPractices === true"
      [type]="'all'"
      [title]="list[2]"
      [compData]="bestPractices"
      [searchValue]="searchValue"
    ></tile>
  </div>
</div>
