.main-container {
  padding-top: 95px;
  padding-left: 32px;
  background-color: #fafcff;
}

// .search-wrapper {
//     margin-bottom: 10px;
//     input {
//         width: 608px;
//         height: 44px;
//         background: #ffffff;
//         border: 2px solid #1c5dd8;
//         border-radius: 4px;
//         padding: 6px 12px;
//         @media (max-width: 768px) {
//             width: calc(100% - 102px);
//         }
//     }
// }
mat-form-field {
  width: 50%;
}
:host::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
  height: 44px;
  line-height: 35px;
}
:host::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 9px;
}
:host::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: white;
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

.tile {
  top: 260px;
  left: 102px;
  width: 296px;
  height: 346px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1c5dd8;
  border-radius: 8px;
  opacity: 1;
}

img {
  top: 268px;
  left: 105px;
  width: 290px;
  height: 218px;
  border-radius: 8px;
  /* UI Properties */
  opacity: 1;
}

.mat-divider {
  color: blue;
  border-top-width: 2px;
}

.type {
  /* Layout Properties */
  top: 505px;
  left: 118px;
  width: 112px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: Regular 16px/22px Avenir Next;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}

.name {
  top: 527px;
  left: 118px;
  width: 159px;
  height: 25px;
  /* UI Properties */
  text-align: left;
  font: Bold 18px/25px Avenir Next;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}

.content {
  padding: 10px;
}

.cName {
  font-size: 18px;
  font-weight: bold;
}

h1 {
  font-size: 21px;
  font-weight: bold;
}

.searchHeader {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
}

.flex-row {
  flex-wrap: wrap;
  .tile {
    margin-bottom: 10px;
  }
}

.sub-head {
  margin-bottom: 10px;
}
