/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0px;
}

* {
  // font-family: "Roboto", sans-serif;
  font-family: "Avenir Next";
  box-sizing: border-box;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}
body,
html {
  height: 100%;
}
.blue-bg {
  background-color: #2b2d71;
}
.text-overflow {
  width: 100%;
  font-size: 14px;
}
.text-overflow1 {
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.menu-Holder {
  position: absolute !important;
  top: 44px !important;
  right: 17px !important;
  z-index: 999 !important;
  overflow: hidden !important;
}
.cdk-overlay-connected-position-bounding-box {
  height: auto !important;
}
.main-container {
  padding-top: 95px;
}
.sub-head {
  margin-top: 20px;
  padding-right: 18px;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
//components styles
.text-capitalize {
  text-transform: capitalize;
}
mat-form-field {
  width: 50%;
}
.main-container1 {
  padding-top: 95px;
  padding-left: 32px;
  background-color: #fafcff;
}

.searchHeader {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
}
.imagesList {
  .selectedDiv,
  .normalDiv {
    cursor: pointer;
  }
}

.sub-head {
  margin-bottom: 10px;
  h1 {
    font-size: 21px;
    font-weight: bold;
  }
}
.flex-row {
  flex-wrap: wrap;
  .tile {
    margin-bottom: 10px;
  }
}

.load-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  @media (max-width: 600px) {
    transform: translate(-30%, -50%);
    img {
      width: 100%;
    }
  }
}
.custom-tooltip {
  font-size: 15px;
}
.text-capitalize {
  text-transform: capitalize;
}
.title-tooltip-wrapper
{
  position: relative;
  &:hover{
    .title-tooltip
    {
      display: block;
    }
  }
  .title-tooltip
  {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 10px;
    line-height: 23px;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
    top: -90px;
    // display: none;
    &:before{
      content: '/';
      position: absolute;
      bottom: -10px;
      left: 3px;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 999;
      left: 0px;
      border-width: 10px 10px 0 10px;
      border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    }
  }
}