/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0px;
}

* {
  // font-family: "Roboto", sans-serif;
  font-family: "Avenir Next";
  box-sizing: border-box;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}
body,
html {
  height: 100%;
}
.blue-bg {
  background-color: #2b2d71;
}
.text-overflow {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.text-overflow1 {
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.menu-Holder {
  position: absolute !important;
  top: 44px !important;
  right: 17px !important;
  z-index: 999 !important;
  overflow: hidden !important;
}
.cdk-overlay-connected-position-bounding-box {
  height: auto !important;
}
.main-container {
  padding-top: 95px;
}
.sub-head {
  margin-top: 20px;
  padding-right: 18px;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
//components styles
.text-capitalize {
  text-transform: capitalize;
}
.custom-tooltip {
  font-size: 15px;
}