/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: left;
  letter-spacing: 0px;
  color: #2b2d71;
  opacity: 1;
}
body,
html {
  height: 100%;
}
.blue-bg {
  background-color: #2b2d71;
}
